head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,minimum-scale=1')
  title Add Question
  // the form awesome library is used to add icons to our form
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
  // include the stylesheet file
  link(href='css/style.css' rel='stylesheet' type='text/css')
.form
  h1 Add New Question
  form(action='/questions/create' method='post')
    label(for='username')
      // font awesome icon
      i.fas.fa-user
    input#title(type='text' name='title' placeholder='Title' required='')
    label(for='password')
      i.fas.fa-lock
    input#description(type='text' name='description' placeholder='Description' required='')
    input(type='submit' value='Save')
h4
a.btn.btn-primary(href='/questions/values' role='button') Back to Questions 