head
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,minimum-scale=1')
title Login
// the form awesome library is used to add icons to our form
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
// include the stylesheet file
link(href='css/style.css' rel='stylesheet' type='text/css')
h4
a.btn.btn-primary(href='/questions/create' role='button') Add New Question   
h4
a.btn.btn-primary(href='/logout' role='button') Logout
h4 Search Bar 
form(action='/questions/filter' method='post')
 label(for='title' text="Title")
      // font awesome icon
 h4 Title 
 input#title(type='text' name='title' placeholder='Title' )
 //label(for='startdate'  text="Title")
 // font awesome icon
 //h4 startDate
 //input#startdate(type='date' name='startdate' placeholder='Startdate' )
 //label(for='enddate'  text="Title")
 // font awesome icon
 //h4 EndDate
 //input#enddate(type='date' name='enddate' placeholder='Enddate')
    
 input(type='submit' value='Search')
 h1 Questions
 //a.btn.btn-primary(href='/questions/adminquest' role='button') My Published Questions
 table.table
  thead
    tr
      th(scope='col') #
      th(scope='col') Title
      th(scope='col') Description
      th(scope='col') Publish_Time
       th(scope='col') Edit
      th(scope='col') Delete
     

    
     
  tbody
  each value in values
     
    tr
      th(scope='row')= value.id
      td= value.title
      td= value.description
      td= value.createdAt
       td
        a(href='/questions/delete/'+value.id) Delete
      td
        a(href='/questions/update/'+value.id) Update 
     
    
      
      
